body {
  background-color: #652796;
  color: white;
  font-family: Verdana;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color:#652796;
  text-decoration-line: none;
}


nav {
  text-align: center;
  font-family: Noto Sans, sans-serif;
}

.btnstyle{
    height: 56px;
    color:#652796;
    font-size:24px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 4px solid #FFFFFF;
}

h5 {
  text-align: center;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #331f43;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #543a69;
}
