body {
  background-color: #A66CF5;
  color: white;
  font-family: Verdana;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: 'Noto Sans', sans-serif;
}

nav {
  text-align: center;
  font-family: Noto Sans, sans-serif;
}

h5 {
  text-align: center;
  font-size: 20px;
}
