body {
  background-color: #652796;
  color: white;
  font-family: Verdana;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: 'Noto Sans', sans-serif;
}

nav {
  text-align: center;
  font-family: Noto Sans, sans-serif;
}

.btnstyle{
    height: 28px;
    text-align: center;
    background-color: #652796;
    border-radius: 3px;
    border: 2px solid #FFFFFF;
}

h5 {
  text-align: center;
  font-size: 20px;
}
