body {
  background-color: #652796;
  color: white;
  font-family: Verdana;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color:#652796;
  text-decoration-line: none;
}


nav {
  text-align: center;
  font-family: Noto Sans, sans-serif;
}

.btnstyle{
    height: 56px;
    color:#652796;
    font-size:24px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 4px solid #FFFFFF;
}

h5 {
  text-align: center;
  font-size: 20px;
}
