
/* fonts */
body {
	font-family: 'Verdana';
	background-color: #ABCDEF;
	text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Verdana';
  font-weight: bolder;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #FFFFFF;
  color: black;
}

dl {
  background-color: white;
}

dl dt {
  padding: 15px 15px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

dl dd {
  margin-left: 0;
  color: gray;
  font-size: 16px;
  padding: 15px 15px;
}

strong {
  background-color: yellow;
}

b {
  background-color: yellow;
}

h3 {
  background-color: white;
  padding: 15px 15px;
}