h1 {
	font-family: 'Lucida Handwriting';
	text-align: center;
	font-size: 46px;
}

p {
	font-size: 25px;
	text-align: center;
	font-family: 'Century Gothic';
	padding-left: 25px;
	padding-top: 0px;
}

label {
	font-size: 25px;
	text-align: center;
	font-family: 'Century Gothic';
	padding-left: 25px;
	padding-top: 0px;
}

input {
	font-size: 20px;
	text-align: center;
	font-family: 'Century Gothic';
	padding-left: 25px;
	padding-top: 0px;
}

nav {
  text-align: center;
  font-family: "Papyrus";
  display: inline;
}

a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  margin: 5px;
}

del {
	color: black;
}

.row {
  display: flex;
}

.star {
  font-size:50px;
}


.column {
  flex: 33.33%;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

body {
	background-color: #cdbdc3;
}

img {
	width:auto;
    height:200px;
}

.small {
	width:300px;
    height:200px;
}

.span {
	width:auto;
    height:auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:auto;
}

select {
  background-color: #000000;
  color: #FFFFFF;
  padding: 30px;
  color: #cdbdc3;
  font-family: 'Century Gothic';
  text-align: center;
  font-size: 25px;
}

.header {
  background-color: #000000;
  color: #cdbdc3;
  padding: 30px;
}

.subheader {
  background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #121012, #534c4e);
  color: #FFFFFF;
  padding: 1px;
}

h2 {
	font-family: 'Century Gothic';
	text-align: center;
	font-size: 50px;
}

h3 {
	color: #534c4e;
	font-family: 'Georgia';
	text-align: center;
	font-size: 25px;
}

h4 {
	color: #000000;
	font-family: 'Century Gothic';
	text-align: left;
	font-size: 25px;
}

h5 {
	color: #000000;
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 18px;
}

h6 {
	color: #534c4e;
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 18px;
}

table {
  font-family:  'Century Gothic';
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
}

th {
  font-size: 24px;
}

td, th {
  border: 1px solid #cdbdc3;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #534c4e;
  color: #cdbdc3;
}